*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    padding: 50px;
}
img{
    padding-left: 100px;
    width: 80%;
}
div{
    width: 600px;
    padding-top: 50px;
    position: relative;
    background: repeating-linear-gradient(90deg ,white , white 50%, #343A40 50%, #343A40 100%);
}
div::before{
    content: "";
    position: absolute;
    width: 51.3%;
    height: calc(100% + 16px);
    background-color: #343A40;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 8px;
    z-index: -1;
    left: -8px;
    top: -8px;
}